<% include ../layouts/dashboard_layout_top %>

<% if( messages && typeof messages.errorList !== "undefined" && messages.errorList ){ %>

   	<ul class="flash" >
   		<% messages.errorList.forEach( function(item, index){ %> 
   				
   			<li class="<%= item.type %>" >
   				<%= item.text %>
				<span> &cross; </span>
			</li>

   		<%  }); %>
		
	</ul>

<% } %>

<h3> Upload docfile </h3>


<div class="uploaderWrapper">

	<form method="post" enctype="multipart/form-data" action="/upload" >

		<label> Image Name </label>
		<input type="text" name="build_name"  id="build_name" />
		<br/> <br/>

		<input type="file" name="dockerfile" id="dockerfile" /> 
		<br/> <Br/>
		<input type="submit" value="upload and build" class="btn lrg" />
	</form>

</div>


<% include ../layouts/dashboard_layout_bottom %>
