<% include ../layouts/layout_top %>



<h3> Upload docfile </h3>


<div class="uploaderWrapper">

	<form method="post" enctype="multipart/form-data" action="/upload" >

		<label> Image Name </label>
		<input type="text" name="build_name"  id="build_name" />
		<br/> <br/>

		<input type="file" name="dockerfile" id="dockerfile" /> 
		<br/> <Br/>
		<input type="submit" value="upload and build" class="btn lrg" />
	</form>

</div>


OR 
		<a href="/containers/list"> Explore Containers </a>


<% include ../layouts/layout_bottom %>
