
<% include ../../layouts/dashboard_layout_top %>

<h1> Add new host </h1>
<div class="uploaderWrapper">

	<form method="post" action="/hosts/create" >

		<label> Name </label>
		<input type="text" name="hostname"  id="hostname"  placeholder="name" />
		<br/> <br/>

		<label> IP </label>
		<input type="text" name="ip"  id="ip" placeholder="ip address eg. 127.0.0.1" />
		<input type="text" name="port"  id="port" placeholder="port eg.8080" size="10" />
		<br/> <br/>


		<input type="submit" value="Add Host" class="btn lrg" />
	</form>

</div>


<% include ../../layouts/dashboard_layout_bottom %>
