
<% include ../../layouts/dashboard_layout_top %>

<h1> Add new host </h1>
<div class="uploaderWrapper">

	<form method="post" action="/hosts/create" >

		<label> Name </label>
		<input type="text" name="name"  id="name"  placeholder="Name" />
		<br/> <br/>

		<label> Hostname </label>
		<input type="text" name="hostname"  id="hostname" placeholder="hostname/IP eg. 127.0.0.1" />
		<br/> 


		<label> Docker Port </label> <input type="text" name="dockerPort"  id="dockerPort" placeholder="port eg.4273" size="10" /><br/>
		<label> Daemon Port </label> <input type="text" name="managerPort"  id="managerPort" placeholder="eg.3005" size="10" />


		<input type="submit" value="Add Host" class="btn lrg" />
	</form>

</div>


<% include ../../layouts/dashboard_layout_bottom %>
