<% include ../../layouts/dashboard_layout_top %>


<h3 class="dockerfileName"> Selected Container: 
	<span > <%= id %> </span> 
	<span class="delete"> <a href="/docker/delete"> Delete &cross; </a> </span>

</h3>


<div class="inspectDataWrapper">

<% if( statusCode === 404  ||  statusCode === null || statusCode === 500) { %>
	<div class="somethingWentWrong">
		<span ><%= data %> </span>
	</div>

<% }else{ %>
	<% if( typeof data === "object" ){ %>
		<div class="key_val">

		<% data.forEach( function(item, index){ %>
			<% for(var k in item){ %>
				<label> <%= k %> : </label>
				<span> <%= item[k] %> </span>
				<br/>
			<% } %>
		<% }) %>

		</div> <!--/key_val-->

	<% } %>
<% } %>


</div> <!--/inspectDataWrapper -->




<% include ../../layouts/dashboard_layout_bottom %>

