<% include ../../layouts/dashboard_layout_top %>




<h1> Dashboard </h1>


<h3 class="dockerfileName"> Selected Container: 
	<span >All Containers </span> 

</h3>


<% if( statusCode === 404 ) { %>
	<h3> Container list not found  </h3>

<% }else{ %>
	<% if( data.length > 0  && typeof data === "object"){ %>
		<% data.forEach( function(item, index){ %>
			<h1> <%= index + 1 %> </h1>
			<% for(var k in item){ %>
				<%= k %> : <%= item[k] %>
				<br/>
			<% } %>
				<span class="delete"> <a href="/docker/delete"> Delete &cross; </a> </span>

			<hr/>

		<% }) %>
	<% }else { %>
		<%= JSON.stringify(data) %>
	<% } %>
<% } %>








<% include ../../layouts/dashboard_layout_bottom %>

