<% include ../../layouts/dashboard_layout_top %>




<h1> Dashboard </h1>


<h3 class="dockerfileName"> Selected Dockerfile: 
	<span > <%= id %> </span> 
	<span class="delete"> 
		<a href="/docker/delete"> Delete &cross; </a> 
	</span>

</h3>

<!--

	Dockerfile Controls
	-> Image information
	-> Delete
-->

<a href="/docker/<%= id %>/inspect"  > Inspect Image </a>



<% include ../../layouts/dashboard_layout_bottom %>

