<% include ../../layouts/dashboard_layout_top %>





<h3 class="dockerfileName"> Selected Dockerfile: 
	<span > <%= id %> </span> 
	<span class="delete"> <a href="/docker/delete"> Delete &cross; </a> </span>

</h3>

<div class="inspectDataWrapper">

<% if( statusCode === 404 ) { %>
	<h3> Image  not found  </h3>

<% }else{ %>
	<% if( data.length > 0 && typeof data === "object" ){ %>
		<div class="key_val">

		<% data.forEach( function(item, index){ %>
			<% for(var k in item){ %>
				<label> <%= k %> : </label>
				<span> <%= item[k] %> </span>
				<br/>
			<% } %>
		<% }) %>

		</div> <!--/key_val-->

	<% }else { %>
		<div class="somethingWentWrong">
			<span > <%= JSON.stringify(data) %> </span>
		</div>
	<% } %>
<% } %>


</div> <!--/inspectDataWrapper -->





<% include ../../layouts/dashboard_layout_bottom %>

