<% include ../../layouts/dashboard_layout_top %>




<h1> Dashboard </h1>


<h3 class="dockerfileName"> Selected Dockerfile: 
	<span > <%= dockerfile_name %> </span> 
	<span class="delete"> <a href="/docker/delete"> Delete &cross; </a> </span>

</h3>



<h1> Inspection of docker file goes here </h1>




<a href="/docker/<%= dockerfile_name %>/inspect"  > Inspect Image </a>




<% include ../../layouts/dashboard_layout_bottom %>

