<% include ../../layouts/dashboard_layout_top %>




<h1> Dashboard </h1>


	<span >All User Created Images </span> 

<%= JSON.stringify( imageList ) %>





<% include ../../layouts/dashboard_layout_bottom %>
