
<% if( messages &&  typeof messages.type !== "undefined" && messages.text.length > 0){ %>

	<div class="flash  <%= messages.type %>" >
		<%= messages.text %>
		<span> &cross; </span>
	</div>

<% } %>